<app-navbar></app-navbar>
<main class="container-fluid mt-5 mb-5">
    <div class="row pageBox">
        <div class="col-lg-4 col-12">
            <p>Filter</p>
            <p>Category:{{getParamValue| titlecase}}</p>
            <p>SubCategory</p>
            <div class="col-lg-4 col-12">
            <select class="form-select form-select-sm" (change)="filterSelect($event)">
                <option value="all">All</option>
                <option *ngFor="let option of getSubCategoryOption" [value]="option.subCatagories">{{option.subCatagories}}</option>
            </select>
            </div> 
        </div>
<div class="col-lg-8 col-12">
<div class="row pageContent mt-5" *ngFor="let product of filterProductData">
    <div class="col-lg-4 col-12 mt-3">
      <img class="img-fluid" src="{{product.pdImg}}" alt="{{product.pdName}}">
    </div>
    <div class="col-lg-4 col-12 mt-5">
      <h4>{{product.pdName}}</h4>
      <p>{{product.pdDesc}}</p>
      <p><span class="fw-medium"><i class="bi bi-currency-rupee"></i></span>{{product.pdPrice | number}}</p>
      <a class="btn btn-md btn-dark" [routerLink]="['/product-details', product.pdCategory, product.pdId]">view product<i class="bi bi-arrow-right-circle-fill"></i></a>
    </div>
  </div>
</div>
